streamlit
groq
faiss-cpu
python-docx
llama-index
llama-index-llms-groq
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-faiss
pymupdf4llm
requests
beautifulsoup4
firecrawl
loadenv